.usa-footer__primary-section {
  @extend .usa-footer__primary-section;
  background-color: $dh-footer-color-primary;
  a {
    font-size: units(2);
  }

  .addthis_inline_share_toolbox_yi93,
  #follow_wrapper{
    display: inline-flex;
  }
  #follow_wrapper{
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .footer-share-social-icons{
    width: 1.9rem;
    height: auto;
  }

  .dh-follow-us img.footer-share-social-icons{
    width: 25px;
  }
  .dh-follow-us .usa-footer__primary-link-icon-social{
    margin-top: 0px;
  }
  .social-media-footer-top-wrapper{
    justify-content: flex-end;
    .usa-footer__primary-link {
      @extend .usa-footer__primary-link;
      padding-bottom: 0;
      padding-top: units(1);
    }
  }
}

.usa-footer__secondary-section {
  @extend .usa-footer__secondary-section;
  background-color: $dh-footer-color-secondary;  
  & .usa-footer__social-links{
    display: none;
  }
  
}
#contact-datahub{
  margin-top: 20px;
}
@include at-media-max('mobile-lg'){ 
  #contact-datahub{
    margin-top: 0px;
  }
}

.usa-footer__logo {
  @extend .usa-footer__logo;
}

.usa-footer__logo-img {
  @extend .usa-footer__logo-img;
  padding: 0 !important;
  height: units(6);
  width: units('card-lg')+units(4);
  max-width: units('card-lg')+units(4) !important;
}

.usa-footer__logo-img-its {
  @extend .usa-footer__logo-img;
  padding: 0 !important;
  height: units(5);
  width: units('card-lg')+units(8);
  max-width: units('card-lg')+units(8) !important;
}

.usa-footer__contact-heading {
  @extend .usa-footer__contact-heading;
  font-weight: bold;
  color: $dh-color-text-light;
  font-size: units(2);
}

.usa-footer__address {
  @extend .usa-footer__address;
  color: $dh-color-text-light !important;
}

.usa-footer__contact-info {
  @extend .usa-footer__contact-info;
  font-weight: bold;
  color: $dh-color-text-light !important;
  font-size: units(2);
  a {
    color: $dh-color-text-light !important;
  }
}

.usa-footer__social-links {
  @extend .usa-footer__social-links;

}

.usa-social-link {
  @extend .usa-social-link;
  // $background-height: units(1); // Height of icon within hit area.
  background-color: color('transparent');
  display: inline-block;
}

.usa-social-link--facebook {
  @extend .usa-social-link--facebook;
  background-image:url("/images/icons/facebook25.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("/images/icons/facebook25.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.usa-social-link--twitter {
  @extend .usa-social-link--twitter;
  background-image:url("/images/icons/twitter16.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("/images/icons/twitter16.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.usa-social-link--instagram {
  @extend .usa-social-link--youtube;
  background-image:url("/images/icons/Instagram.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("/images/icons/Instagram.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.usa-footer__nav {
  @extend .usa-footer__nav;
  //height: units(7);
  .usa-footer__primary-link {
    @extend .usa-footer__primary-link;
    //display: none; // Hiding secondary links.
  }

  .usa-footer__primary-link-icon {
    height: units(1.5);
    width: units(1.5);
    background-color: transparent;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}


.usa-footer__primary-link-icon-social {
  height: units(1.5);
  width: units(1.5);
  background-color: transparent;
  margin-top: units(3);
}

$dh-footer-social-main-justify: flex-end;


@include at-media-max('mobile-lg'){
  #contact-datahub{
    margin-top: 0px;
  }
}

.dh-footer__social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @include at-media-max('mobile-lg'){
    justify-content: flex-start;
  }
  align-content: center;
  flex-wrap: wrap;
  font-size: units(2);
  font-weight: bold;
  padding-top: units(1.5);
  margin-left: units(1.5);
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: units(1);
  }
  .dh-footer__social-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-right: units(2.5);
  }
  .dh-footer__social-share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

.dh-footer__version-id {
  padding-top: units(1.5);
  font-size: units(1.5);
  font-weight: normal;
  color: darken($dh-color-white, 5%);
}
