.usa-footer {
  @extend .usa-footer;
  z-index: 20;
  position: relative;

  .usa-footer__primary-section {
    @extend .usa-footer__primary-section;
    background-color: $dh-footer-color-primary;
    a {
      font-size: units(2);
    }

    .addthis_inline_share_toolbox_yi93,
    #follow_wrapper{
      display: inline-flex;
    }
    #follow_wrapper{
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    .footer-share-social-icons{
      width: 1.9rem;
      height: auto;
    }

    a.usa-social-link.dh-follow-us{
      height: auto;
      width: auto;
      margin-left: 2px;
      margin-right: 5px;
      &:last-child{
        margin-right: 0px;
      }
    }

    .dh-follow-us img.footer-share-social-icons{
      width: 30px;
    }
    .dh-follow-us .usa-footer__primary-link-icon-social{
      margin-top: 0px;
    }
    .social-media-footer-top-wrapper{
      justify-content: flex-end;
      .usa-footer__primary-link {
        @extend .usa-footer__primary-link;
        padding-bottom: 0;
        padding-top: units(1);
      }
    }

    .usa-social-link {
      @extend .usa-social-link;
      background-color: color('transparent');
      display: inline-block;
    }
    
    .usa-social-link--facebook {
      @extend .usa-social-link--facebook;
      background-image:url("/images/icons/facebook25.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
      background-image:url("/images/icons/facebook25.svg"), linear-gradient(transparent, transparent);
      background-repeat:no-repeat;
    }
    
    .usa-social-link--twitter {
      @extend .usa-social-link--twitter;
      background-image:url("/images/icons/twitter16.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
      background-image:url("/images/icons/twitter16.svg"), linear-gradient(transparent, transparent);
      background-repeat:no-repeat;
    }
    
    .usa-social-link--instagram {
      @extend .usa-social-link--youtube;
      background-image:url("/images/icons/Instagram.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
      background-image:url("/images/icons/Instagram.svg"), linear-gradient(transparent, transparent);
      background-repeat:no-repeat;
    }

    .usa-footer__nav {
      @extend .usa-footer__nav;
      max-width: units('desktop-lg');
      .usa-footer__primary-link {
        @extend .usa-footer__primary-link;
      }
    
      .usa-footer__primary-link-icon {
        height: units(1.5);
        width: units(1.5);
        background-color: transparent;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }
    }
    
    .usa-footer__primary-link-icon-social {
      height: units(1.5);
      width: units(1.5);
      background-color: transparent;
      margin-top: units(3);
    }
    .dh-footer__social-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include at-media-max('tablet'){
        justify-content: center;
      }
      @include at-media-max('mobile-lg'){
        justify-content: flex-start;
        margin-left: units(2);
      }
      align-content: center;
      flex-wrap: wrap;
      font-size: units(2);
      font-weight: bold;
      padding-top: units(1.5);
      padding-bottom: units(.5);
      
      p {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-right: units(1);
      }
      .dh-footer__social-add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-right: units(2.5);
      }
      .dh-footer__social-share {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        @include at-media-max('mobile-lg'){
          margin-top: units(1);
        }
      }
      #follow_header{
        height: 35px;
      }
    }
  }
  
  .usa-footer__secondary-section {
    @extend .usa-footer__secondary-section;
    display: block;

    @include at-media-max('tablet'){
      display: flex;
    }
    background-color: $dh-footer-color-secondary;  
    & .usa-footer__social-links{
      display: none;
    }

    .cdh_usa-footer__secondary-section_inner-wrapper{
      @include at-media-max('tablet'){
        flex-direction: column;
      }
    }
    .left-column, .right-column{
      @include at-media-max('tablet-lg'){
        min-width:  units('card-lg')+units(8);
      }
      @include at-media-max('mobile'){
        min-width: unset;
      }  
    }
    hr.footer-divider{
      width: 100%;
      border-color: $dh-color-gray80;
      margin-bottom: units(1);
      
      &#footer-divider_top{
        margin-top: 0px;
      }
      &#footer-divider_bottom{
        margin-top: units(2);
      }
    }
    @include at-media('tablet'){
      hr.footer-divider{
        display: none;
      }
    }

    .cdh_usa-footer__logo-img-wrapper{
      width: 100%;
      .usa-footer__logo-img {
        @extend .usa-footer__logo-img;
        padding: 0 !important;
        height: auto;
        width: units('card-lg')+units(10);
        max-width: units('card-lg')+units(10) !important;
        @include at-media-max('tablet-lg'){
          height:auto;
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }

    .usa-footer__logo-img-its {
      @extend .usa-footer__logo-img;
      padding: 0 !important;
      height: units(5);
      width: units('card-lg')+units(8);
      max-width: units('card-lg')+units(8) !important;
      @include at-media-max('tablet'){
        height:auto;
        width: units('card-lg')+units(3);
      }
    }

    .usa-footer__contact-heading {
      @extend .usa-footer__contact-heading;
      font-weight: bold;
      color: $dh-color-text-light;
      font-size: units(3);
    }
    
    .usa-footer__address {
      @extend .usa-footer__address;
      color: $dh-color-text-light !important;
    }
    
    .usa-footer__contact-info {
      @extend .usa-footer__contact-info;
      font-weight: bold;
      color: $dh-color-text-light !important;
      font-size: units(2);
      justify-content: flex-start;
      a {
        color: $dh-color-text-light !important;
      }
    }
    @include at-media-max('mobile-lg'){
      #contact-datahub{
        margin-top: 0px;
      }
    }

    .dh-footer__version-id {
      padding-top: units(0.5);
      font-size: units(1.5);
      font-weight: normal;
      color: darken($dh-color-white, 5%);
      text-align: left;
    }
    .usa-footer__contact-info:hover{
      text-decoration: none;
    }
    .usa-footer__contact-info a:hover{
      text-decoration: underline;
    }

    .email-registration-wrapper {
      flex-direction: column;
      display: flex;
      flex: 1;
      align-content: flex-end;
      justify-content: space-evenly;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: -10px;
      @include at-media-max("tablet"){
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      
      .message, .message-alert, .controls{
        max-width: units('card-lg')+units(10) !important;
        @include at-media("tablet-lg"){
          width: 320px;
        }
      }
      .message, .message-alert{
        font-weight: 400;
        line-height: 22px;
      } 
      .message{
        color: $dh-color-white;
      }
      .message-alert {
        font-weight: 400;
        color: #f7921f;
      }
      .controls {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        input, button{
          height: 30px;
          padding-top: 4px;
          padding-bottom: 4px;
          border-radius: 4px;
          width: 100%;
        }
        input {
          margin-top: units(1);
          margin-bottom: units(1);
          padding-left: 5px;
          &.registration-complete{
            background-color: #CEF2C5;
            font-weight: bold;
            color: #2d2d2d;
          }
        }
        button {
          // background-color: #005ea2;
          // border-color: $dh-color-light-gray;
          // color: $dh-color-white;
          font-size: units(2);
          img {
            margin-left: 5px;
            height: 10px;
            width: 10px;
          }
        }
        .valid {
          background-color: darken($dh-color-white, 5%);
        }
        .invalid {
          background-color: lighten($dh-color-error-red, 30%) !important;
        }
      }
    }
  }
}
