.dh-result-card__wrapper {
  margin-bottom: units(4);
  padding-bottom: units(3);
  padding-top: units(2);
  border-bottom-color: lighten($dh-color-gray80, 1%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  z-index: -10;

  &:hover {
    .dh-result-card__title {
      a {
        color: lighten($dh-color-green, 5%);
      }
    }
  }

  .dh-result-card__title {
    margin-bottom: units(2);
    a {
      font-weight: bold;
      font-size: units(3);
      color: $dh-color-green;
      text-decoration: none;
    }
  }
  .dh-result-card__meta-text {
    font-weight: normal;
    font-size: units(2);
  }
  .dh-result-card__meta-data {
    font-weight: bold;
    //font-size: units(2.5);
    margin-bottom: units(1);
  }
  .dh-result-card__description {
    font-size: units(2.5);
    font-weight: normal;
    word-wrap: break-word;
    a {
      word-wrap: break-word;
    }
    .dh-result-card__description-readmore {
      border: none;
      font-size: units(1.5);
      text-decoration: underline;
      color: $dh-link_color-default;
      background-color: transparent;
    }
  }
  .dh-result-card__tags {
    margin-top: units(2);
    .dh-result-card__tags-title {
      font-size: units(2);
      color: lighten($dh-color-black, 30%);
      font-weight: normal;
    }
    .dh-result-card__tag {
      display: inline;
      button {
        border: none;
        font-size: units(2);
        text-decoration: underline;
        color: $dh-link_color-default;
        background-color: transparent;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .dh-result-card__tags-showmore {
      display: inline;
      button {
        border: none;
        font-size: units(1.5);
        text-decoration: underline;
        color: $dh-link_color-default;
        background-color: transparent;
      }
    }
    a {
      font-size: units(2);
      color: $dh-link_color-default;
      font-weight: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }
  hr {
    border: solid 1px  lighten($dh-color-gray80, 10%);
    margin-top: units(4);
  }
  @include at-media-max('mobile-lg'){
    #left_column_results_wrapper{
      display: flex;

      & .dh-result-card__meta-text{
        margin-right: units(.5);
      }
      & #results_date_data{
        margin-right: units(3);
      }
    }
  }
}