/*styles unique to the black banner with US flag*/
.site-banner{
    background-color: #1b1b1b;
    & .usa-banner__header-text,
    & #gov-banner{
        color: $dh-color-text-light;
    }
    & .usa-banner__button{
        color: #adadad;
        &::after{
            background-image:url("/images/angle-arrow-down-primary_adadad.svg");
        }
        &:hover{
            color: $dh-color-text-light;
            ::after{
                background-image:url("/images/angle-arrow-down-white.svg");
            }
        }
        &[aria-expanded=true]:after{
            background-image:url("/images/icons/angle-arrow-up-white.svg")
        }
    }
}


#nav_dot_banner{
    background-color: $dh-header-color_dot-banner-background; 
    width: 100%;
    height: units(7);
    padding-top: units(1.5);
    padding-bottom: units(1.5);
    & #dot_logo{
        height: units(4);
    }
    @include at-media ($theme-navigation-width){
        height: units(10);
        padding-top: units(2.5);
        padding-bottom: units(2.5);
        & #dot_logo
        {
            height: units(5);
        }
    }
}

.usa-nav__primary{
    @extend .usa-nav__primary;
    > .usa-nav__primary-item{
        @extend .usa-nav__primary-item;
        > a{
            color: $dh-nav-links_primary-state-default;
            @include no-knockout-font-smoothing;
        }
    }
    button{
        color: $dh-nav-links_primary-state-default;
    }
}

.usa-nav__secondary{
    @extend .usa-nav__secondary;
    @include at-media ($theme-navigation-width){
        bottom: 0.5rem;
        & .usa-nav__secondary-links a{
            color: $dh-nav-links_secondary-state-defualt;
            &:hover{
                color: $dh-nav-links_secondary-state-hover;
            }
        }
        & #addthis_wrapper{
            margin-top: 20px;
            float: right;
            & #addthis_header{
                margin-top: 0px;
                margin-bottom: 6px;
                font-size: 15px;
                font-weight:600;
                color: $dh-color-primary-blue;
            }
        }
        & #followus_wrapper{
            margin-top: 20px;
            margin-left: 40px;
            float: right;
            & #followus_header{
                margin-top: 0px;
                margin-bottom: 6px;
                font-size: 15px;
                font-weight:600;
                color: $dh-color-primary-blue;
            }
        }
        .usa-social-link.dh-follow-us{
            height: auto;
            width: auto;
        }

        #followus_wrapper{
            & .usa-nav__secondary-links .usa-nav__secondary-item + .usa-nav__secondary-item::before{
                content: none;
            }
            & .usa-nav__secondary-links{
                height: 35px;
                margin-bottom: 0px;
            }
            & .usa-nav__secondary-item:first-child{
                padding-left: 0px;
            }
        }
    }
    & .header-social-icons{
        width: 1.9rem; height: auto;
    }
}

#extended-logo{
    & a{
        color: $dh-nav-links_primary-state-default;
    }
    @include at-media($theme-navigation-width) {
        margin-top: 0px;
    }
}

.usa-nav__primary-item {
    @extend .usa-nav__primary-item;
    a, button {
        &:hover {
            color: lighter($dh-color-navy,10%);
            &:after {
                content: '';
                position: absolute;
                left: 0 !important;
                bottom: -4px !important;
                height: 4px;
                background-color:$dh-color-green !important;
                width: 100%;
                transition: width .25s;
            }
        }
        &.router-link-exact-active {
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: $dh-color-navy;
            &:after {
                width: 0;
            }
        }
    }
}

#dh-nav{
    @include at-media($theme-navigation-width) {
        border-top: none;
        border-bottom: units(1px) solid color('base-lighter');
        padding-bottom: units(1.5)
    }
}