.dh-search__search-wrapper {
  background-image:url("/images/datahub_search_header_background.jpeg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("/images/datahub_search_header_background.jpeg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: units(2);
  padding-bottom: units(2);
  .dh-search__search-title {
    opacity: 1;
    background-color: $dh-color-primary-blue;
    //margin-top: units(2.5);
    h1 {
      color: $dh-color-lightcyan;
      font-size: units(5);
      margin: 0 !important;
      // padding: units(0.5) !important;
      @include at-media-max('mobile-lg'){
        font-size: units(4);
      }
    }
    @include at-media-max('mobile-lg'){
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }
  }
  .dh-search__search-inputs {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    .usa-label {
      @extend .usa-label;
      display: none;
    }
    .usa-input {
      @extend .usa-input;
      margin: 0 !important;
      height: units(5);
      width: 60%;
      background: $dh-home-color_main-search_callout-input-background;
      border: 1px solid $dh-color-primary-blue;
      border-top-left-radius: units(0.5);
      border-bottom-left-radius: units(0.5);
      // font-size: units(3);
      color: $dh-color-black;
      padding-left: units(0.5);
      @include at-media-max("tablet-lg"){
        width: 100%;
      }
    }
    .usa-input--error {
      @extend .usa-input--error;
      margin: 0 !important;
      height: units(5);
      width: 55%;
      background: $dh-home-color_main-search_callout-input-background;
      font-size: units(3);
      color: $dh-color-black;
      padding-left: units(0.5);
    }
    input::-webkit-input-placeholder {
      font-size: units(2);
      font-style: italic;
    }
    input::-moz-placeholder {
      font-size: units(2);
      font-style: italic;
    }
    input::-ms-input-placeholder {
      font-size: units(2);
      font-style: italic;
    }
    input::placeholder {
      font-size: units(2);
      font-style: italic;
    }
    button {
      position: relative;
      height: units(5);
      width: units(5);
      background-color: $dh-color-lightcyan;
      border: 1px solid $dh-color-primary-blue;
      border-top-right-radius: units(0.5);
      border-bottom-right-radius: units(0.5);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      font-size: units(3);
      font-weight: bold;
      color: transparent;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      img {
        height: units(3);
        width: units(3);
        filter: grayscale(3);
      }
    }
  }
  // @include at-media-max(){

  // }
}