.dh-search-results_wrapper {
  margin-top: units(3);
  .dh-search-results__result-text {
    font-size: units(4);
    color: $dh-color-navy;
    font-weight: bold;
    button {
      border: none;
      background: transparent;
      padding: 0 !important;
      margin: 0 !important;
    }
    button,
    #number-of-results{
      font-weight: normal;
    }
  }
  .dh-search-results__sortby-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    .dh-search-results__sortby-text {
      font-size: units(3);
      color: $dh-color-navy;
      font-weight: bold;
      padding: 0 !important;
      margin: 0 !important;
    }

    .usa-select {
      font-size: units(2.5);
      margin-top: 0;
      border-radius: units(0.5);
    }

  }
  @include at-media-max('mobile-lg'){
    .dh-search-results__result-text{
      font-size: units(3);
    }
    .dh-search-results__sortby-wrapper{
      margin-top: units(1);
    }
    // .dh-search-results__sortby-wrapper .dh-search-results__sortby-text{
    //   font-size: units(2);
    // }

  }

  .dh-search-results_list {
    ul {
      list-style: none;
      padding-left: 0px;
      
    }
    .dh-search-results_list-no-results {
      font-size: units(5);
      font-weight: bold;
      color: lighten($dh-color-black,30%);
      text-shadow: 1px 1px 2px $dh-color-gray80;
      text-align: center;
      margin-bottom: units(10);
    }
    .dh-search-results_list-searching{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      img {
        height: units(7);
        width: units(7);
      }
    }
  }
}