@import './uswds-theme-utilities.scss';
@import './override_uswds.scss';
@import '../../node_modules/uswds/src/stylesheets/uswds.scss';

@import './variables.scss';
@import './dot-microsite-footer.scss';
@import './dot-header.scss';
@import './about.scss';
@import './dot-category-search.scss';
@import './dot-featured-data.scss';
@import './dot-search-main.scss';
@import './dot-search-search.scss';
@import './dot-search-result.scss';
@import './dot-result-card.scss';
@import './Metrics.scss';
@import './dot-iframe.scss';
@import './Resources.scss';
@import './side-nav.scss';

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
h3{
  margin-block-start: 1.5em;
  margin-block-end: .7em;
}
@include at-media-max('tablet'){
  .usa-prose ol ol{
    margin-left: 0px;
    padding-left: units(2.5);
    margin-top: units(1.5);
    margin-bottom: units(1.5);
    & ol{
      margin-left: 0px;
      margin-top: units(2.5);
      margin-bottom: units(2.5);
    }
  }
  .usa-prose ul ul{
    margin-left: 0px;
    padding-left: units(2.5);
    margin-top: units(1.5);
    margin-bottom: units(1.5);
    & ul{
      margin-left: 0px;
      margin-top: units(2.5);
      margin-bottom: units(2.5);
    }
  }
}
