$theme-grid-container-max-width: null;
$theme-site-max-width: null;
$theme-site-margins-breakpoint: null;
$theme-navigation-width: null;
$theme-font-role-heading: null;
$theme-h4-font-size: null;


$theme-grid-container-max-width: 'desktop-lg' !global;
$theme-site-max-width: 'desktop' !global;
$theme-site-margins-breakpoint:     'desktop' !global;
//theme-site-margins-width: 4
//$theme-site-margins-mobile-width: 2 
$theme-navigation-width: 'desktop' !global; 
//'tablet-lg'is 800 for menu switch from horizontal to mobile menu
//'desktop' is 1024 for menu switch from horizontal to mobile menu
//'desktop-lg' is 1200 for menu switch from horizontal to mobile menu
$theme-font-role-heading: 'sans' !global;
$theme-h4-font-size: 'lg' !global;

