html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
h3 {
    margin-block-start: 1.5em;
    margin-block-end: .7em;
}

/*--- Page Layouts ---*/
/**-- Images in right column --*/
.usa-layout-docs__main.images-in-right-column{
    img.right-column{
        max-width: 166px;
        margin-top: 0px;
        @media (max-width: 'tablet'){
            max-width: 80px;
        }
    }
    .right-column_div{
        border-left: lightgray 5px solid;
        margin-top: 15px;
        margin-left: 0px;
        padding-left: 20px;
    }
    h2{
        margin-top: 25px;
    }   
    .step-two, .step-three,
    .step-four, .step-five{
        margin-top: 1.5em;
    }
}

/*--- Lists ---*/

.usa-prose p ol,
.usa-prose p ul{
    margin-top: units(1);
    margin-bottom: units(1.5);
    & p{
        margin-top:units(1);
        margin-bottom: units(1);
    }
}
.usa-prose ul li,
.usa-prose ol li{
    margin-bottom: units(1)
}

@include at-media-max('tablet') {
    .usa-prose ol ol {
        margin-left: 0px;
        padding-left: units(2.5);
        margin-top: units(1.5);
        margin-bottom: units(1.5);
        & ol {
            margin-left: 0px;
            margin-top: units(2.5);
            margin-bottom: units(2.5);
        }
    }
    .usa-prose ul ul {
        margin-left: 0px;
        padding-left: units(2.5);
        margin-top: units(1.5);
        margin-bottom: units(1.5);
        & ul {
            margin-left: 0px;
            margin-top: units(2.5);
            margin-bottom: units(2.5);
        }
    }
}

