.dh-resources__wrapper {
  z-index: 10;
  .dh-resources__guidelines {
    display: block;
  }
  .dh-resources__section-hide {
    display: none !important;
  }
  .dhhidden {
    display: none;
  }
  .dh-resource-main_float-menu {
    @include at-media('desktop') {
      position: fixed;
      width: units('card-lg');
      z-index: 10;
    }
  }
  .dh-resource-main_float-menu_top {
    @include at-media('desktop'){
      top: units(6);
    }
  }
  .dh-resource-main_float-content {
    @include at-media('desktop') {
      margin-left: units('card-lg');
      z-index: 10;
    }
  }
  
  .research-data__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .research-data__table {
      min-width: 300px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;

      th, .research-data__table-footer {
        color: white;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
      }

      ul {
        padding-inline-start: 25px;
      }
    }

    #primary-research-data__table {
      flex: 1;

      th, .research-data__table-footer {
        background-color: #13234f;
      }
      @include at-media('tablet') {
        padding-right: 10px;
      }
    }
    #derived-research-data__table {
      flex: 2;
      
      th, .research-data__table-footer {
        background-color: #056a06;
      }
      @include at-media('tablet') {
        padding-left: 10px;
      }
    }
  }
}
