// Global Colors
$dh-color-white: white;
$dh-color-black: black;
$dh-color-gray80: #cccccc;
$dh-color-navy: #162E51; //Blue to be used most places
$dh-color-lightcyan: #9BFFFF;
$dh-color-green: #066A07;
$dh-color-light-gray: #C9C9C9; //rgb(201,201,201);
$dh-color-red: red;

$dh-color-text-light: $dh-color-white;
$dh-color-blue-custom: #142350; //Blue to be used for Hero on homepage "Explore our data" background color
$dh-color-paragraph: #333333;
$dh-color-primary-blue: $dh-color-blue-custom;
$dh-color-input-box-background: #f5f1f1;
$dh-color-error-red: #f26b64;// red: rgb(242, 107, 100); //#F26B64

// <a> colors
$dh-link_color-default: #005ea2;
$dh-link_color-hover: #1a4480;
$dh-link_color-visited: purple;
$dh-link_text-decoration: underline;

// Paragraph colors
$dh-color-paragraphs: #1b1b1b;

// Header variables
$dh-header-color_dot-banner-background: $dh-color-primary-blue ;
$dh-header-color-primary_title: $dh-color-primary-blue;

// Navigation Variables (part of the header.scss)
$dh-nav-links_primary-state-default: $dh-color-primary-blue;
// $dh-nav-links_primary-state-hover: ;
$dh-nav-links_secondary-state-defualt: #242222;
$dh-nav-links_secondary-state-hover: $dh-link_color-default;

// Footer variables
$dh-footer-color-primary: $theme-color-base-lightest;
$dh-footer-color-secondary: $dh-color-primary-blue; 




// Home : Category Search
$dh-home-color_category-search-background: $dh-color-primary-blue;
$dh-home-color_featured-search-title: $dh-color-primary-blue;
$dh-home-color_featured-dataset-background: $dh-color-primary-blue;
$dh-home-color_main-search_heading-alt: $dh-color-lightcyan;
$dh-home-color_main-search_callout-background: $dh-color-primary-blue;
$dh-home-color_main-search_callout-input-background: $dh-color-input-box-background;

// About page variables
$dh-about_text-width: units('desktop');
$dh-about_font-size: units(2.5);
$dh-about_font-weight: normal;
$dh-about_list-indent: units(1);
