
// Global Colors
$dh-color-white: white;
$dh-color-black: black;
$dh-color-navy: #162E51;


// Footer variables
$dh-footer-color-primary: $theme-color-base-lightest;
$dh-footer-color-secondary: $dh-color-navy;

// Home : Category Search
$dh-home-color_category-search-background: #142350;

$dh-home-color_featured-search-title: #162E51;
$dh-home-color_featured-dataset-background: #142350;

$dh-home-color_main-search_heading-alt: #9BFFFF;
$dh-home-color_main-search_callout-background: #142350;
$dh-home-color_main-search_callout-input-background: #F5F1F1;
