
// Global Colors
$dh-color-white: white;
$dh-color-text-light:#ffffff;
$dh-color-primary-blue-dark: #162E51;
$dh-color-dot-banner-background: #142350;
$dh-color-paragraph: #333333;


// Footer variables
$dh-footer-color-primary: $theme-color-base-lightest;
$dh-footer-color-secondary: #003E7E;

