<!DOCTYPE html>
<html lang="en" style="overflow-x: auto;">
<a href="#main" class="hidden">Skip to main content</a>
<head>
    <title>Department of Transportation - Open Data Portal | Department of Transportation - Data Portal</title>
    <link rel="stylesheet" type="text/css" href="css/ITS_JPO.css">
    <link rel="stylesheet" type="text/css" href="css/usdot_data_microsite_template.css">
    <link rel="stylesheet" href="css/bulma.css">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
</head>

<body id="search-wrapper">
    <div id='searchTerms'>
        <a name="main" id="main"></a>

        <!--===================DOT HEADER===================-->

        <div id="dotTopBanner" style="width: 100%; background: #152350; height: 60px; padding: 5px 0 0 10px">
            <a style="background: none" href="https://transportation.gov">
                <img src="images/icons/dot_logo.png" style="height: 35px; margin-left: 25px; margin-top: 8px;" alt="department of transportation logo">
            </a>
            <div id="dotTopLinks" style="line-height: 30px; background: #04214f">
                <a class="headHovers" href="https://www.transportation.gov/mission/about-us" style="font-size: 11px; width: 70px; background: #04214f">ABOUT DOT&emsp;&nbsp;|</a>
                <a class="headHovers" href="https://www.transportation.gov/briefingroom" style="font-size: 11px; width: 80px; background: #04214f">&emsp;&nbsp;BRIEFING ROOM&emsp;&nbsp;|</a>
                <a class="headHovers" href="https://www.transportation.gov/our-activities" style="margin-right: 30px; font-size: 11px; width: 70px; background: #04214f">&emsp;&nbsp;OUR ACTIVITIES</a>
            </div>
        </div>


        <!--===================SEARCH HEADER===================-->

        <div id="searchHead" class="searchHeader">
            <!--==================Navigation Bar================-->
            <div class="navigation-bar navBarLinks">
                <a class="headHovers navBarLinks" href="/data">SEARCH HOME</a> <div style="font-size: 15px; padding:3px 5px 7px 7px; display: inline;">|</div>
                <a class="headHovers navBarLinks" href="/data/visualizations" v-on:click="navBarClick">VISUALIZATIONS</a> <div style="font-size: 15px; padding:3px 7px 3px 7px; display: inline;">|</div>
                <!-- <a class="headHovers navBarLinks" href="/data/public-access" v-on:click="navBarClick">PUBLIC ACCESS</a> <div style="font-size: 15px; padding:3px 7px 3px 7px; display: inline;">|</div>
                <a class="headHovers navBarLinks" href="/data/dashboard" v-on:click="navBarClick">DASHBOARD</a> <div style="font-size: 15px; padding:3px 7px 3px 7px; display: inline;">|</div> -->
                <a class="headHovers navBarLinks" href="/" v-on:click="navBarClick">ITS JPO HOME</a>
            </div>

            <div class="TitleText" style="padding-top: 40px;">
                <p class="searchHeaderText">EXPLORE OUR DATA - Beta Version</p>
                <h3 style="font-size: 18px; color: white; text-align: center; margin-top: 10px;">Department of Transportation ITS JPO Data</h3>
                <h3 style="font-size: 18px; color: white; text-align: center; margin-bottom: 12px;"> Welcome to the ITS JPO's public access point for ITS data</h3>

                <!--search bar-->
                <label for="mainSearch" class="hidden">Search</label>
                <input class="mainSearch" id="mainSearch" v-model="query" v-on:keyup.enter="search(query)" v-bind:placeholder="search_placeholder"><button class="searchButton" v-on:click="search(query)">SEARCH</button>
            </div>

        </div>
        <!--===================SEARCH RESULTS===================-->

        <div id="searchresults" class="contentArea searchResults">
            <h1 style="text-align:center">NOTICE: Currently the data is limited, more data will be coming shortly as it is being uploaded in the coming months</h1></br>

            <div style="display: flex;">
                <button id="returnPage" class="readButton" style="font-size: 15px; margin-left: 80px;margin-bottom: 10px" v-on:click="window.location.href = 'data'">Return to Main Page &raquo;</button>
            </div>
            <div style="display: flex; float: right; margin-right: 80px">
                <p style="line-height: 1.8" class="resultsSectionHeading">Sort By: &nbsp;</p>
                <nav class="segmented-button">
                    <input v-on:click="dropDownFilter" type="radio" name="seg-1" value="N" id="seg-Users" class="filterName" checked>
                    <label for="seg-Users" class="first">Name</label>
                    <input v-on:click="dropDownFilter" type="radio" name="seg-1" value="D" id="seg-Organisation" class="filterDate">
                    <label for="seg-Organisation" class="last">Date</label>
                </nav>
            </div>
            <div style="display: flex;">
                <p class="resultsSectionHeading"><b>SEARCH RESULTS FOR:&nbsp;</b></p>
                <p class="resultsQuery"><b id="resultsQuery">{{query}}</b></p><br>
            </div>

            <div style="display: flex;">
                <p class="resultsSectionHeading"><b>Number of results:&nbsp;</b><p>
                <p class="resultsCount"><b>{{resultsJson.length}}</b></p><br>
            </div>



            <hr class="resultsDivider" noshade>
            <br>

            <!--generates a bullet point for each search result item-->
            <div style="margin-left: 100px; margin-right: 100px;">

                <!--displays results if there are results-->
                <ul v-if="resultsJson.length > 0" style="list-style: none; padding-left: 0px;">
                    <li v-model="seeMoreToggler" v-for="(item,index) in resultsJson" style="margin-bottom: 30px; list-style: none;">

                        <table style="width: 100%">
                            <tr>
                                <td style="width: 70%">
                                    <!--the data set name-->
                                    <a class='resultItemHeader' style="padding-right: 0%" :href="item.link" target="_blank">
                                        {{ item.name }}

                                    </a>
                                </td>
                                <td style="text-align: right; width: 30%">
                                    <p class="resultItemHeader" style="float: right; font-size: 18px;">
                                        Date Added: {{ item.date}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <!--the data set description-->
                        <p v-if="item.description.length > 300 && seeMoreToggler[index] && item.description.indexOf(' ', 290) != -1" style="font-size: 15px; padding-top: 5px;">{{ item.description.substring(0,item.description.indexOf(" ", 290))}}...</br><button class="readButton" v-on:click="toggleSeeMore(index)">Read More</button></p>
                        <p v-else-if="item.description.length > 300 && seeMoreToggler[index]" style="font-size: 15px; padding-top: 5px;">{{ item.description.substring(0,item.description.lastIndexOf(" "))}}...</br><button class="readButton" v-on:click="toggleSeeMore(index)">Read More</button></p>
                        <p v-else-if="item.description.length > 300 && !seeMoreToggler[index]" style="font-size: 15px; padding-top: 5px;">{{ item.description }}</br><button class="readButton" v-on:click="toggleSeeMore(index)">Read Less</button></p>
                        <p v-else-if="item.description.length > 0" style="font-size: 15px; padding-top: 5px;">{{ item.description}}</p>
                        <p v-else style="font-size: 15px; padding-top: 5px;">No description available.</p>

                        <!--lists the domain tags-->
                        <div v-if="item.tags.length > 0" style="padding-top: 5px;">
                            <p style="float:left; padding: 3px; height: 30px; line-height: 30px;">Tags: </p>
                            <button v-for="tag in item.tags" class='tag' v-on:click="search(tag)">{{tag}}</button>
                        </div>
                        <hr v-if="resultsJson.length != index+1" style="border-color: #DEDEDE" noshade>
                    </li>
                    <div v-else>
                        <p>No search results.</p>
                    </div>
            </div>
        </div>

        <div id="footerInfo" style="padding-top: 20px;">

            <div style="display:inline; font-size:50px; font-weight:100; text-align:center">
                <img src="images/icons/dot_logo.png" style="height: 30px;margin-right: 3px;" alt="DOT Logo" />
                |
                <img src="images/icons/ITS_JPO.png" style="height: 27px" alt="ITS JPO Logo" />
            </div>
            <p style="font-weight: bold;">Questions? Contact Us</p>
            <p id="contactEmail">{{contact_email}}</p>
        </div>
    </div>
</body>

</html>

<script src="./js/vue.min.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/usdot_data_microsite_template.js"></script>

<script>
    window.onload = myVue.search(localStorage.getItem("sentSearchTerm"));
</script>